<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Home</a>
  <div class="collaps navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/group" class="nav-link">Group</a>
      </li>
    </ul>
  </div>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  </div>
</nav>
<div class="container home__container">
  <%= @user.id %>
</div>
