<div class="container login__container">
  <form action="/login" method="POST" class="login__form">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
    <div class="mt-3">
      <a href="/signup" class="stretched-link" style="position: relative;">アカウントを持ってない方</a>
    </div>
  </form>
  <div>
  </div>
</div>