.permission__container {
  height: 100%;
  background-color: #fafafa;
  padding-top: 70px;
}

.permission__form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin: auto;
}